<h2>Edit Catch</h2>
<form action="/catches/<%= @id %>/edit/<%= @catch['id'] %>" method="post">
    <label for="datum">Datum:</label>
    <input type="text" id="datum" name="datum" value="<%= @catch['datum'] %>"><br>
    
    <label for="plats">Plats:</label>
    <input type="text" id="plats" name="plats" value="<%= @catch['plats'] %>"><br>
    
    <label for="vikt">Vikt:</label>
    <input type="text" id="vikt" name="vikt" value="<%= @catch['vikt'] %>"><br>
    
    <label for="art">Fish:</label>
    <select id="art" name="art">
        <% @fishes.each do |fish| %>
            <option value="<%= fish['id'] %>" <%= 'selected' if fish['id'] == @catch['fish_id'] %>><%= fish['art'] %></option>
        <% end %>
    </select><br>
    
    <input type="submit" value="Save">
</form>



